---
import MainLayout from "../layouts/MainLayout.astro";
import { getBlogs, getBlogDetail } from "../lib/microcms";

export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      blogId: content.id,
    },
  }));
}

const { blogId } = Astro.props;
const blog = await getBlogDetail(blogId as string);
---

<div>mentenance now</div>
