---
import MainLayout from "../layouts/MainLayout.astro";

import { getBlogs } from "../lib/microcms";
const { contents: posts } = await getBlogs({
  fields: ["id", "title", "publishedAt"],
});
---

<ul>
  {
    posts.map((post) => (
      <li>
        <time datetime={post.publishedAt}>
          {new Date(post.publishedAt).toLocaleDateString("ja-JP")}
        </time>
        <a href={`/blog/${post.id}`}>{post.title}</a>
      </li>
    ))
  }
</ul>
